/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(/Users/jocelynwensloff/turing_work/1mod/projects/solo_projects/whats-for-dinner_JW/assets/burger-friends.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

h1{
    display: flex;
    justify-content: space-evenly;
}

.asterisk{
    color:#ee5253;
}

header {
    background-color: #0fb9b1;
    font-size: 3vh;
    font-weight: bold;
    padding: 3vh;
}

article {
    background-color: rgba(225, 225, 225, .9);
    width: 35%;
    height: 60vh;
}

.button-header {
    margin-top: 13vh;
    font-size: 3.5vh;
    font-weight: bold;
}

p {
    font-size: 2.5vh;
    margin-left: 10vh;
}

.lets-cook-button {
    background-color: #0fb9b1 ;
    border-radius: 5px;
    border-color: #0fb9b1;
    width: 25vh;
    height: 7vh;
    font-size: 2.5vh;
    margin-left: 10vh
}

.right-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.cooking-pot{
    width: 25vh;
    height: auto;
}

.hidden{
    display:none;
}

h2{ margin-top: 15vh;
    font-style: italic;
    font-size: 3.5vh;
}

h3{
font-size: 5vh;
margin-bottom:15vh;
text-align: center;
}
#clear-button {
    position: absolute;
    border-radius: 5px;
    color:rgba(225, 225, 225, .9);
    background-color: #95a5a6;
    width: 15vh !important;
    height: 5vh !important;
    font-size: 2.5vh;
    margin-bottom: 0;
    margin-left: 53vh;
    margin-top: 52vh;
}